body {
    background-color: gray
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    padding-left: 5%;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

.sub-center {
    margin: auto;
    width: 90%;
    padding-left: 5px;
}

#container {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

